$def with (content)

<html>
<head>
	<title>Robie sobie strone</title>
	<link href="/static/style.css" type="text/css" rel="stylesheet">
	</link>
</head>
<body>
	<div id="calosc">
		<div id="gora">
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
		</div>
		<div id="gora">
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
			<a href="/">
			<img border="0" src="/static/0.jpg" height="120%">
			</a>
		</div>
		<div id="srodek">
		
			<div id="lewa">
		
			<a href="/logout">Log out</a>
			<h3>----------</h3>

			<p><a target="_top" href="/login">Login</a></p>
			<h3>----------</h3>
			<p><a href="/signup">Sign up</a></p>
			<h3>----------</h3>
			<p><a target="_top" href="/auto_program">Paliwo</a></p>
			<h3>----------</h3>
			<a target="_blank" href="/onet">Onet czytac</a>
			
			<br>

			<br>


			<br>
			</div>

	$:content		
	
		
	</div>
		<div id="dol">
		A to na dole
		</div>
</body>
</html>
